<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>Hyper.applescript</string>
			<key>Image File</key>
			<string>HyperIcon.png</string>
			<key>Title</key>
			<string>Run Hyper Command</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Launch Hyper Terminal App.</string>
	<key>Extension Identifier</key>
	<string>com.Hyper.extension.Hyper-Command</string>
	<key>Extension Name</key>
	<string>Hyper</string>
</dict>
</plist>
